@import '~antd/dist/antd.css';

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  animation: 0.7s ease-in 1 fadeOut;
}

@keyframes fadeOut {
  from {
    opacity: 0%;
    padding-top: 2rem;
  }
  to {
    opacity: 100%;
    padding-top: 0;
  }
}
